body{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.container{
    height: 100%;
}

.box{
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 20px;
    width: 50%;
    height: auto;
}

@media screen and (width <= 991px) {
    .box {
        width: 70%;
    }
}

@media screen and (width <= 570px) {
    .box {
        width: 90%;
    }
}

@media screen and (width <= 416px) {
    .box {
        width: 90%;
    }
    
    .btns-container{
        flex-direction: column;
        row-gap: 20px;
    }
}
